<h1> BE A SCHOLAR </h1>
<p> This website is all about to how to be a schloar in RUBY ON RIALS Language just follow these <a href="http://guides.rubyonrails.org">INSTURCTIONS GUIDE</a> and be a schloar. <p>
